@use "../public/styles/boilerplate.scss" as *;

* {
  font-family: "Karmina-Bold";
}

body {
  background-color: $tinted-black;
  color: $white;

  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  // padding: 0 5.24rem;
  margin: 0;
}
